#bloc_images_canva {
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 3vh;
}
#bloc_images_canva>div {
    flex-wrap: wrap;
}

#bloc_images_canva canvas {
    margin: 50px;
}

#bloc_images_canva img {
    width: 300px;
    margin: 20px;
}
#bloc_images_canva>img {
    width: 80vw;
}