/*global*/
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: rgb(20, 20, 20);
}

* {
    margin: 0;
    padding: 0;
}

/* TEXT */

i {
    font-size: 2vh;
    color: #773ac5;
    margin: 0 10px;
}

hr {
    margin: 3vh;
    width: 40%;
    color: #773ac5;
}

h1, h2, h3, p, a, input, textarea {
    font-family: Lato, sans-serif, monospace;
    color: rgb(200, 200, 200);
    text-align: justify;
    letter-spacing: 0.1em;
}

h1 {
    font-size: 7vh;
}

h2 {
    font-size: 5vh;
}

h3 {
    font-size: 2.6vh;
}

p, input {
    font-size: 1.8vh;
}

a {
    text-decoration: none;
    color: #773ac5;
}

a:hover {
    cursor: pointer;
}

img, video {
    margin: 3vh;
    max-width: 25vw;
    max-height: 40vh;
    border-radius: 3vh;
}

/* SPECIAL */
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inline {
    display: flex;
    flex-direction: row;
}

div.error {
    background-color: rgba(255, 0, 0, 0.2);
    padding: 10px;

    width: 400px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

/* FORMS */
input[type=text], input[type=password], select {
    background-color: transparent;
    text-align: center;

    padding: 0.5vh;
    margin: 2vh;

    border: 0;
    border-bottom: 2px solid #773ac5;
    transition-duration: 0.5s;
}

input[type=text]:focus, input[type=password]:focus {

    border: 0;
    border-bottom: 2px solid #773ac5;
}

input[type=submit], .button, button {
    font-size: 1.5vh;
    text-align: center;
    padding: 0.5vh 2vh;
    margin: 2vh;
    padding: 1vh 3vh;
    color: white;
    background-color: transparent;
    border: 2px #773ac5 solid;
    transition-duration: 0.5s;
}

input[type=submit]:hover, input[type=submit]:focus, .button:hover, button:hover {
    cursor: pointer;
    border-radius: 5vh;
    background-color: #773ac5;
}

input[type='file'] {
    color: gray;
    margin-bottom: 2vh;
}

select {
    max-height: 8vh;
    font-size: 1.5vh;
    color: white;
    background-color: transparent;
    border: 0;
    border-bottom: 1px #773ac5 solid;
    padding-bottom: 5px;
}

textarea {
    margin: 2vh;
    font-size: 1.5vh;
    padding: 0.8vh;
    height: 15vh;
    min-height: 5vh;
    width: 40vw;
    min-width: 50%;

    color: white;

    background-color: transparent;
    border: 2px #773ac5 solid;
}

.red {
    border: 1px red solid;
}

.red:hover {
    background-color: red;
}



/* PARTS */
header {
    background-color: rgb(40, 40, 40);
    height: calc(5vh - 2px);

    padding: 0 3vw;
    justify-content: space-between;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px #773ac5 solid;
}

header .headerhidden p {
    font-size: 0;
    transition-duration: 0.5s;
}

header .headerhidden:hover p {
    font-size: 2vh;
}

header i {
    font-size: 3.5vh;
}

#content {
    padding: 5vh 10vw;
    min-height: 85vh;
}

footer {
    background-color: rgb(0, 0, 0);
    height: 3vh;
}

header i{
    margin: 1vh;
}

header img {
    width: 3.5vh;
}

@media only screen and (max-width: 1300px) {
    .responsive {
        flex-direction: column;
    }

    img, video {
        max-width: 90vw;
        max-height: 60vh;
    }

    header {
        height: auto;
    }

    header .headerhidden p {
        font-size: 2vh;
    }

    #content {
        padding: 5vh 3vw;
    }


    input[type=submit], .button, button {
        cursor: pointer;
        border-radius: 5vh;
        background-color: #773ac5;
    }

    .red {
        background-color: red;
    }
}