

.line {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 3vh;
    max-width: 90vw;
    width: 100%;
    border: 1px #773ac5 solid;
    padding: 10px;
}

.line p {
    font-size: 2vh;
    margin: 0 4px;
    text-align: center;
}